


/* review list */
.review-card {
    padding: 15px;
  background: white;
  margin: 60px auto;
  position: relative;
  width: 300px;
}
.rating {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #e24b18;
  font-size: 1em;
  width: 60px;
  height: 40px;
  align-items: center;
  color: white;
}
.review-card h2 {
  margin-bottom: 2;
  text-align: center;
}

.image{

  height: 170px;
  margin-top: 5px;
}
.category-name{
  margin: 5px;
}